<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jameschin.android.mozartsfriend"
    android:versionCode="31"
    android:versionName="1.0.31" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectSequenceActivity"
            android:label="@string/title_library"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SelectKeyActivity"
            android:label="@string/title_keys"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SelectTrackActivity"
            android:label="@string/title_track"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.jameschin.android.mozartsfriend.LibraryActivity"
            android:label="@string/title_library"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".TunerActivity"
            android:label="@string/title_tuner"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".MetronomeActivity"
            android:label="@string/title_metronome"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".TrackActivity"
            android:label="@string/title_track"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_help"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name="com.jameschin.android.mozartsfriend.InfoActivity"
            android:label="@string/title_info"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>